<nav>
  <ul>
      <li><a href="/books">Books</a></li>
      <li><a href="/authors">Authors</a></li>
      <li><a href="/publishers">Publishers</a></li>
      <li><a href="/rent">Rent</a></li>
      <% if (isLogin) { %>
        <li><a href="/logout">Log Out</a></li>
      <% } %>
  </ul>
</nav>