<%- include('template/header', { pageTitle: "Home" }); %>

<p>Selamat datang di Perpus Hacktiv8.</p>
<ul>
    <li><a href="/register">Registrasi Anggota</a></li>
    <li><a href="/login">Login Anggota</a></li>
    <li><a href="/admin/register">Registrasi Admin</a></li>
    <li><a href="/admin/login">Login Admin</a></li>
</ul>

<%- include('template/footer'); %>