<%- include('partials/header', { title: 'Login' }) %>
  <div class="form-container">
    <form action="/login" method="POST">
      <div>
        <label for="email">Email:</label><br>
        <input type="text" id="email" name="email"><br>
      </div>
      <div>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password"><br>
      </div>
      <div>
        <input type="submit" value="Log in">
      </div>
    </form>
  </div>
<%- include('partials/footer') %>