<%- include('template/header', { pageTitle: "Home" }); %>

<h2>Daftar Pinjam</h2>

<table class="table">
    <thead>
        <tr>
            <td>Judul</td>
            <td>Tanggal Mulai Pinjam</td>
            <td>Deadline pengembalian</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Head First JavaScript Programming: A Brain-Friendly Guide 1st Edition</td>
            <td>01 Agustus 2021</td>
            <td>01 September 2021</td>
        </tr>
        <tr>
            <td>JavaScript: The Definitive Guide</td>
            <td>16 Agustus 2021</td>
            <td>16 September 2021</td>
        </tr>
    </tbody>
</table>

<%- include('template/footer'); %>
