/* .form-container {
  margin: auto;
  width: 50%;
  border: 1px solid burlywood;
  padding: 3% 10px;
  text-align: center;
}

.the-form {
  background-color: chartreuse;
}

input {
  width: max-content;
} */