body {
    padding: 1em;
}

header {
    margin-bottom: 1em;
}

.book-detail {
    display: flex;
    margin-top: 2em;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li+li {
    margin-left: 1em;
}
